body {
    background-color: #121212; 
    color: #ffffff;           
    margin: 0;                
    padding: 0;
    font-family: sans-serif;  
    height: 100vh;            
}

h1{
    text-align: center;
}

#client-messages{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width:100%;
}

#server-messages{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width:100%;
}

#mesaj_client{
    position: fixed;
    bottom: 30px;
    width: 80%;
    height: 5%;
    border-radius: 20px;
    padding-left: 16px;
    font-size: 18px;
    
}

#SendToServer{
    border-radius: 20px;
    position: fixed;
    bottom: 30px;
    width: 15%;
    height: 5%;
    right: 10px;
    background-color: #0084FF; 
    color: white;
    font-size: 18px;
}

#SendToServer:hover{
    background-color:darkcyan;
}

.message-bubble-left {
    background-color: #0084ff; 
    color: white;    
    text-align: center;
    align-items: center;
    border-radius: 20px;
    padding: 8px 12px;
    margin: 10 px 0;
    margin-top: 10px;
    width: fit-content;
    max-width: 70%;
    font-family: sans-serif;
    font-size: 18px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.message-bubble-right {
    background-color: #0084ff; 
    color: white;    
    text-align: center;
    align-items: center;
    border-radius: 20px;
    padding: 8px 12px;
    margin-left: auto; 
    margin-right: 10px;
    margin-top: 10px;
    width: fit-content;
    max-width: 70%;
    font-family: sans-serif;
    font-size: 18px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

